* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #34043f, #080a8d, #30033b);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px;
    border-radius: 20px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-left: 8px solid #ff5945;
    padding-left: 5px;
    background-color: rgba(255, 89, 69, 0.1);
}

.todo-app h2 img {
    width: 40px;
    margin-left: 15px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    font-weight: 300;
}

#input-box {
    font-size: 17px;
    letter-spacing: 2px;
    text-align: center;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #ff5945;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    border-radius: 40px;
    letter-spacing: 1.5px;
}

button:hover {
    outline: 6px solid white;
    padding: 16px 55px 16px;
}

ul li {
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

ul li::before {
    content: " ";
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    top: 9px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background-color: #edeef0;
}


@media (max-width: 500px) {
    input {
        padding: 12px 3px;
    }
    button {
        padding: 12px 40px;
    }
    
}


@media (max-width: 440px) {
    input {
        padding: 14px 3px;
    }
    button {
        padding: 14px 20px;
        
    }
}


@media (max-width: 410px) {
    .row {
        width: 300px;
        height: 40px;
    }
    button {
        padding: 12px 15px;
        font-size: 14px;
    }
}


@media (max-width: 380px) {
    .row {
        width: 290px;
        height: 40px;
    }
    button {
        padding: 10px 10px;
    }
}